*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hamburger{
    display: none;
}

#desktop-nav{
    background: black;
    width: 100%;
    box-shadow: 0px 0px 20px 0px black;
}



#desktop-nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#desktop-nav ul li{
    display: inline-flex;
}

#desktop-nav ul li a{
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: .6s ease-in-out;
}

#desktop-nav ul li a:hover{
    color: grey;
}

/* mobile nav */

#mobile-nav{

}

#mobile-nav ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#mobile-nav ul li{
    display: flex;
    
}

#mobile-nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

/*  */

#home{
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 50px;
}

.img-container img{
    height: auto;
    width: 80%;
    animation: up-down 5s 1s infinite ease-in-out;
}

@keyframes up-down{
    0%{
        transform: translateY(0px);
    }
   
    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0px);
    }
}

.home-text-container h1{
    line-height: 100px;
    font-size: 50px;
}

.home-text-container{
    font-size: 20px;
    width: 50%;
    margin-right: 70px;
    line-height: 30px;
}

#contact-us{
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 20px 0px black;
}

#contact-us h1{
    padding: 20px;
    text-align: center;
}

#contact-me{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#contact-me p{
    padding: 0px;
    margin-top: 20px;
}

#contact-me p input, textarea{
    width: 100%;
    margin-top  : 10px;
   
}

#send{
    padding: 10px;
    font-size: 18px;
    width: 150px;
    border: 0px;
    outline: none;
    background: white;
    color: black;
}

#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

#social-media ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#social-media ul li{
    display: inline-flex;
  
}

#social-media ul li a{
    text-decoration: none;
    color: white;

    padding: 20px;
}

#social-media ul li a:hover{
    color: gray;
}


#social-media h2{
    font-size: 10px;
    font-weight: 100;


}

#mobile-nav{

}


@media only screen and (max-width: 500px){
   #desktop-nav{
       display: none;
   }

   #img-1{
       opacity: 0;
   }
    
    #hamburger{
    display: block;
    padding: auto;
    margin: 20px;
    background: black;
    outline: none;
    }

    .home-container{
        flex-direction: column;
    }

    .home-text-container{
        font-size: 18px;
        text-align: left;
        margin: 0px;
        width: 100%;
    }
  
}